<h2>Добро пожаловать!</h2>

<div style="margin-top: 20px;">
    @Html.ActionLink("Список услуг", "ListOFCare", "Admin", new { @class = "btn btn-warning btn-lg" })
    @Html.ActionLink("Добавить услугу", "CreateCare", "Admin", new { @class = "btn btn-info btn-lg" })
    @Html.ActionLink("Список питомцев", "ListOfPets", "Admin", new { @class = "btn btn-danger btn-lg" })
    @Html.ActionLink("Добавить питомца", "CreatePet", "Admin", new { @class = "btn btn-success btn-lg" })
</div>
